{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

    <div class="hero-wrap hero-bread" style="background-image: url('{{asset(['images/blog/', blogContrib.imageBanner] | join )}}');">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-0 bread">{{ blogContrib.titleBanner }}</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ftco-animate">
                    {% for blog in pagination %}
                        <h2 class="mb-3 mt-5">{{ blog.title }}</h2>
                        <p>
                            <img src="{{asset(['/images/blog/', blog.filename]|join)}}" alt="" class="img-fluid">
                        </p>
                        {{ blog.text|raw }}
                        <div class="tag-widget post-tag-container mb-5 mt-5">
                            <div class="tagcloud">
                                {% for tag in blog.tags %}
                                    <a href="#" class="tag-cloud-link">{{ tag.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    {{ knp_pagination_render(pagination) }}
                </div> <!-- .col-md-8 -->
                <div class="col-lg-4 sidebar ftco-animate">
                    <div class="sidebar-box ftco-animate">
                        <h3 class="heading">Catégories</h3>
                        <div class="tagcloud">
                            {% for tag in tags %}
                            <a href="{{ path('app_blog_filter_tag', {'tagid': tag.id}) }}" class="tag-cloud-link">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3 class="heading">A la Une</h3>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url({{asset('vegefoods/vegefoods/images/image_1.jpg')}});"></a>
                            <div class="text">
                                <h3 class="heading-1"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> April 09, 2019</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url({{asset('vegefoods/vegefoods/images/image_2.jpg')}});"></a>
                            <div class="text">
                                <h3 class="heading-1"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> April 09, 2019</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url({{asset('vegefoods/vegefoods/images/image_3.jpg')}});"></a>
                            <div class="text">
                                <h3 class="heading-1"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> April 09, 2019</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section> <!-- .section -->
{% endblock %}