{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}FabLab{% endblock %}

{% block body %}

    <div class="hero-wrap hero-bread" style="background-image: url('{{asset(['images/fablab/', contrib.imageHeader]|join)}}');">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-0 bread">FabLab</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt">
        <div class="container">
            <div class="row">
                <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({{asset(['images/fablab/', contrib.imageVideo]|join )}});">
                    <a href="{{ contrib.videoLink }}?autoplay=1&rel=0" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                        <span class="icon-play"></span>
                    </a>
                </div>
                <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
                    <div class="heading-section-bold mb-4 mt-md-5">
                        <div class="ml-md-0">
                            <h2 class="mb-4">{{ contrib.titlePres }}</h2>
                        </div>
                    </div>
                    <div class="pb-md-5">
                        {{ contrib.textPres|raw }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 mt-5 col-centered">
                    <h1 class="text-center mb-5">Financement participatif</h1>
                    <div class="col-md-8 col-centered mb-5">
                        <p>
                            Nous avons besoin de vous pour lancer le FabLab. Participez à la campagne de financement participatif !
                        </p>
                    </div>
                    <iframe id="haWidget" allowtransparency="true" src="https://www.helloasso.com/associations/atelier%20de%20claret/collectes/atelier-de-claret/widget-vignette-horizontale" style="width:100%;height:500px;border:none;"></iframe>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section" id="actu-section" style="background-image: url({{ asset('images/home/logo-bg-atelier.png')}});">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center mb-5">
                    <h2 class="heading"> Derniers articles en lien avec le FabLab</h2>
                </div>
                <div class="col-md-10">
                    <div class="sidebar-box ftco-animate">
                        {% for actu in actus %}
                            <div class="block-21 mb-4 d-flex bg-light">
                                <a class="blog-img mr-4" style="background-image: url({{asset(['images/blog/', actu.filename] | join )}});"></a>
                                <div class="text">
                                    <h3 class="heading-1"><a href="#">{{ actu.title }}</a></h3>
                                    <div class="meta">
                                        <div><a href="#"><span class="icon-calendar"></span> {{ actu.publicationDate|date('d M y')}}</a></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({{asset(['images/fablab/', contrib.imageKeynumber] | join)}});">
        <div class="container">
            <div class="row justify-content-center py-5">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="{{ contrib.keynumber1 }}">0</strong><strong class="number"> M²</strong>
                                    <span>{{ contrib.labelKeynumber1}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="{{ contrib.keynumber2 }}">0</strong>
                                    <span>{{ contrib.labelKeynumber2 }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="{{ contrib.keynumber3}}">0</strong>
                                    <span>{{ contrib.labelKeynumber3 }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="{{ contrib.keynumber4 }}">0</strong>
                                    <span>{{ contrib.labelKeynumber4 }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section testimony-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-4">Les Makers</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
                </div>
            </div>
            <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel">
                        {% for testimony in testimonies %}
                            <div class="item">
                                <div class="testimony-wrap p-4 pb-5">
                                    <div class="user-img mb-5" style="background-image: url({{ asset(['images/home/testimony/', testimony.image]|join) }})">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                          <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text text-center">
                                        <p class="mb-5 pl-4 line">{{ testimony.text }}</p>
                                        <p class="name">{{ testimony.fullName }}</p>
                                        <span class="position">{{ testimony.position }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
        <div class="container py-4">
            <div class="row d-flex justify-content-center pt-5">
                <div class="col-md-6">
                    <h2 style="font-size: 22px;" class="mb-0">Abonnez-vous à la Newsletter</h2>
                    <span>Nous vous tiendrons au courant de l'Actu !</span>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    {{ form_start(newsletter_form, {'attr': {'class': 'subscribe-form'}}) }}
                    <div class="form-group d-flex news-letter">
                        {{ form_widget(newsletter_form.email) }}
                        {{ form_widget(newsletter_form.submit) }}
                    </div>
                    <div class="col-md-6 mt-3">
                        {{ form_row(newsletter_form.captcha) }}
                        {{ form_end(newsletter_form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}