{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section id="home-section" class="hero">

        <div class="home-slider owl-carousel">
            {% for slide in slides %}
                <div class="slider-item" style="background-image: url({{ asset(['images/home/carousel/', slide.image]|join) }});">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                            <div class="col-md-12 ftco-animate text-center">
                                <h1 class="mb-2">{{ slide.title}}<br></h1>
                                <h2 class="subheading mb-4">{{ slide.legend }}</h2>
                                <p><a href="#" class="btn btn-primary">{{ slide.labelButton}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mb-5">
                    <h1 class="mb-5">"Construire l'avenir plutôt que chercher à le prédire"</h1>
                    <div class="col-md-12">
                    <p class="">L’Atelier de Claret est un « Tiers lieu » ou espace coopératif à la fois lieu de travail partagé (Coworking), espace de fabrication numérique (FabLab et/ou Maker Place) et plateforme de formation favorisant l'esprit entrepreneurial, la création d’activités, l’employabilité par l'innovation. Il organise des évènements et des formations dans les domaines du numérique et des nouvelles technologies et/ou sur des thématiques innovantes et éco-responsables avec une promesse : "Construire l'avenir plutôt que chercher à le prédire" »
                    </p>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-4">
                    <div class="col-md-8 col-centered">
                        <div class="ftco-animate fadeInUp ftco-animated">
                            <div class="product">
                                <a href="{{ path('app_coworking') }}" class="img-prod"><img class="img-prod" src="{{ asset('vegefoods/vegefoods/images/logo-atelier-coworking.png') }}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="col-md-8 col-centered">
                        <div class="ftco-animate fadeInUp ftco-animated">
                            <div class="product">
                                <a href="{{ path('app_fablab') }}" class="img-prod"><img class="img-fluid" src="{{ asset('vegefoods/vegefoods/images/logo-atelier-fablab.PNG') }}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-8 col-centered">
                        <div class="ftco-animate fadeInUp ftco-animated">
                            <div class="product">
                                <a href="{{ path('app_formation') }}" class="img-prod"><img class="img-fluid" src="{{ asset('vegefoods/vegefoods/images/logo-atelier-formation.png') }}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center mb-5">
                    <h2 class="heading"> A la Une</h2>
                </div>
                <div class="col-md-10">
                    <div class="sidebar-box ftco-animate">
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url({{asset('vegefoods/vegefoods/images/image_1.jpg')}});"></a>
                            <div class="text">
                                <h3 class="heading-1"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> April 09, 2019</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url({{asset('vegefoods/vegefoods/images/image_2.jpg')}});"></a>
                            <div class="text">
                                <h3 class="heading-1"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> April 09, 2019</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url({{asset('vegefoods/vegefoods/images/image_3.jpg')}});"></a>
                            <div class="text">
                                <h3 class="heading-1"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> April 09, 2019</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section testimony-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-4">Les Irréductibles</h2>
                    <p>Au commencement, une tribu d'irréductibles, tous de Claret et largement autour ;). Certains ont démarré dans un garage, une chambre d'étudiant, un coin de bureau, à partir de quelques mots griffonnés sur la terrasse d'un café, d'une rencontre ou par hasard.</p>
                </div>
            </div>
            <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel">
                        {% for testimony in testimonies %}
                            <div class="item">
                                <div class="testimony-wrap p-4 pb-5">
                                    <div class="user-img mb-5" style="background-image: url({{ asset(['images/home/testimony/', testimony.image]|join) }})">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                          <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text text-center">
                                        <p class="mb-5 pl-4 line">{{ testimony.text }}</p>
                                        <p class="name">{{ testimony.fullName }}</p>
                                        <span class="position">{{ testimony.position }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section ftco-partner">
        <div class="container">
            <div class="row">
                {% for partner in partners %}
                <div class="col-sm-3 ftco-animate">
                    <a target="_blank" href="{{ partner.link }}" class="partner"><img src="{{asset(['images/home/partner/', partner.image]|join)}}" class="img-fluid" alt="Atelier de claret"></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
        <div class="container py-4">
            <div class="row d-flex justify-content-center py-5">
                <div class="col-md-6">
                    <h2 style="font-size: 22px;" class="mb-0">Abonnez-vous à la Newletter</h2>
                    <span>Nous vous tiendrons au courant de l'Actu !</span>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <form action="#" class="subscribe-form">
                        <div class="form-group d-flex">
                            <input type="text" class="form-control" placeholder="Saisir l'adresse email">
                            <input type="submit" value="S'abonner" class="submit px-3">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}