{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section id="home-section" class="hero">
        <div class="home-slider owl-carousel">
            <div class="slider-item" style="background-image: url({{asset('vegefoods/vegefoods/images/bg_1.jpg')}});">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                        <div class="col-md-12 ftco-animate text-center">
                            <h1 class="mb-2">L'Atelier de Claret<br></h1>
                            <h2 class="subheading mb-4">Imaginer ensemble</h2>
                            <p><a href="#" class="btn btn-primary">Continuer</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {#<div class="home-slider owl-carousel">
            <div class="slider-item" style="background-image: url({{asset('vegefoods/vegefoods/images/bg_1.jpg')}});">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                        <div class="col-md-12 ftco-animate text-center">
                            <h1 class="mb-2">L'Atelier de Claret<br></h1>
                            <h2 class="subheading mb-4">Imaginer ensemble</h2>
                            <p><a href="#" class="btn btn-primary">Continuer</a></p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="slider-item" style="background-image: url({{asset('vegefoods/vegefoods/images/bg_2.jpg')}});">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                        <div class="col-md-12 ftco-animate text-center">
                            <h1 class="mb-2">L'Atelier de Claret<br></h1>
                            <h2 class="subheading mb-4">Imaginer ensemble</h2>
                            <p><a href="#" class="btn btn-primary">Continuer</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>#}
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mb-5">
                    <h1 class="mb-5">"Construire l'avenir plutôt que chercher à le prédire"</h1>
                    <div class="col-md-12">
                    <p class="">L’Atelier de Claret est un « Tiers lieu » ou espace coopératif à la fois lieu de travail partagé (Coworking), espace de fabrication numérique (FabLab et/ou Maker Place) et plateforme de formation favorisant l'esprit entrepreneurial, la création d’activités, l’employabilité par l'innovation. Il organise des évènements et des formations dans les domaines du numérique et des nouvelles technologies et/ou sur des thématiques innovantes et éco-responsables avec une promesse : "Construire l'avenir plutôt que chercher à le prédire" »
                    </p>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-4">
                    <div class="col-md-8">
                        <div class="ftco-animate fadeInUp ftco-animated">
                            <div class="product">
                                <a href="{{ path('app_coworking') }}" class="img-prod"><img class="img-prod" src="{{ asset('vegefoods/vegefoods/images/logo-atelier-coworking.png') }}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-8">
                        <div class="ftco-animate fadeInUp ftco-animated">
                            <div class="product">
                                <a href="{{ path('app_fablab') }}" class="img-prod"><img class="img-fluid" src="{{ asset('vegefoods/vegefoods/images/logo-atelier-fablab.PNG') }}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-8">
                        <div class="ftco-animate fadeInUp ftco-animated">
                            <div class="product">
                                <a href="{{ path('app_formation') }}" class="img-prod"><img class="img-fluid" src="{{ asset('vegefoods/vegefoods/images/logo-atelier-formation.png') }}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section testimony-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <span class="subheading">Testimony</span>
                    <h2 class="mb-4">Our satisfied customer says</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
                </div>
            </div>
            <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel">
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url({{ asset('vegefoods/vegefoods/images/person_1.jpg') }})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                </div>
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <p class="name">Garreth Smith</p>
                                    <span class="position">Marketing Manager</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url({{asset('vegefoods/vegefoods/images/person_2.jpg')}})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                </div>
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <p class="name">Garreth Smith</p>
                                    <span class="position">Interface Designer</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url({{asset('vegefoods/vegefoods/images/person_3.jpg')}})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                </div>
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <p class="name">Garreth Smith</p>
                                    <span class="position">UI Designer</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url({{asset('vegefoods/vegefoods/images/person_1.jpg')}})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                </div>
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <p class="name">Garreth Smith</p>
                                    <span class="position">Web Developer</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url(../../public/vegefoods/vegefoods/images/person_1.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                </div>
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <p class="name">Garreth Smith</p>
                                    <span class="position">System Analyst</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <section class="ftco-section ftco-partner">
        <div class="container">
            <div class="row">
                <div class="col-sm ftco-animate">
                    <a href="#" class="partner"><img src="{{asset('vegefoods/vegefoods/images/partner-1.png')}}" class="img-fluid" alt="Colorlib Template"></a>
                </div>
                <div class="col-sm ftco-animate">
                    <a href="#" class="partner"><img src="{{asset('vegefoods/vegefoods/images/partner-2.png')}}" class="img-fluid" alt="Colorlib Template"></a>
                </div>
                <div class="col-sm ftco-animate">
                    <a href="#" class="partner"><img src="{{asset('vegefoods/vegefoods/images/partner-3.png')}}" class="img-fluid" alt="Colorlib Template"></a>
                </div>
                <div class="col-sm ftco-animate">
                    <a href="#" class="partner"><img src="{{asset('vegefoods/vegefoods/images/partner-4.png')}}" class="img-fluid" alt="Colorlib Template"></a>
                </div>
                <div class="col-sm ftco-animate">
                    <a href="#" class="partner"><img src="{{asset('vegefoods/vegefoods/images/partner-5.png')}}" class="img-fluid" alt="Colorlib Template"></a>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
        <div class="container py-4">
            <div class="row d-flex justify-content-center py-5">
                <div class="col-md-6">
                    <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
                    <span>Get e-mail updates about our latest shops and special offers</span>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <form action="#" class="subscribe-form">
                        <div class="form-group d-flex">
                            <input type="text" class="form-control" placeholder="Enter email address">
                            <input type="submit" value="Subscribe" class="submit px-3">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}